@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

@import "_icons.scss";
@import "_fonts.scss";
@import "_reset.scss";
@import "_mixins.scss";

// Налаштування адаптивної сітки 
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1320;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 40;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================
%font-size{
  font-size: 50px;
  font-weight: 500;
  line-height: 1.20; /* 60/50 */
  text-transform: capitalize;
  text-align: center;
  line-height: 1.20; /* 60/50 */
}
%button{
  background-color: #1E2832;
  color: #fff;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 29px;
  text-transform: capitalize;
  transition: all 0.3s;
}
%button-small{
  font-family: "Open Sans", sans-serif;
  background-color: #1E2832;
  font-size: 12px;
  font-weight: 600;
  line-height: 2.0; /* 24/12 */
  text-transform: uppercase;
  color: #fff;
  padding: 4px 12px;
}
// ==========================================================
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.wrapper{
  min-height: 100%;
  overflow: clip;
  display: flex;
	flex-direction: column;
}
.wrapper > main{
  flex-grow: 1;
}
[class*="__container"]{
	max-width: #{$maxWidthContainer}px;
  padding: 0 math.div($containerPadding, 2) + px;
  margin: 0 auto;
}
/* --------Header---------- */
.header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 144px;
  padding-top: 31px;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(30, 40, 50, 0.05);
    }
  // .header__block
  &__top{
    position: relative;
    z-index: 3;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E3E3E3;
    @media(max-width: 550px){
      gap: 30px;
     }
     @media(max-width: 441.98px){
      gap: 10px;
     }
  }
  &__top--margin{
    margin-bottom: 30px;
  }
  // .header__logo
  &__logo {
    flex: 0 0 181px;
    img{
      width: 100%;
      height: 100%;
    }
    @media(max-width: 367.98px){
      flex-basis: 160px;
     }
     @media(max-width: 321.98px){
      flex-basis: 136px;
     }
  }
  // .header__active
  &__active {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    cursor: pointer;
    span{
      font-size: 18px;
      line-height: normal;
      text-transform: capitalize;
      @media(max-width: 764px){
       display: none;
      }
      @media (any-hover: hover){
        &:hover{
          color: rgba(255, 111, 97, 1);
          text-decoration: underline;
       }
      }
    }
    @media(max-width: 441.98px){
      gap: 10px;
     }
  }
  .form {
  position: relative;
  }
  .header-form {
  // .header-form__input
  &__input {
    height: 45px;
    padding: 10px 10px 10px 25px;
  }
  // .__button
  &__button{
    position: absolute;
    left: 3px;
    top: 13px;
    &::before{
      font-size: 24px; 
    }
    @media (any-hover: hover){
      &:hover{
        color: rgba(255, 111, 97, 1);
      }
    }
  }
  // ._icon-search
  &_icon-search{
    cursor: pointer; 
  } 
  }
  
  &__bottom{
    z-index: 3;
    position: relative;
  }
  
}
.active-header{
  &__link{
    display: flex;
    gap: 8px;
    &::before{
    font-size: 25px;
  }
  @media (any-hover: hover){
    &:hover::before{
      color: rgba(255, 111, 97, 1);
    }
  }
}
}

.menu-header {
  // .menu-header__list
  &__list {
    display: flex;
    gap: 55px;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap; 
    @media(max-width: 991.98px){
      position: fixed;
      top: 70px;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: 10;
      overflow: auto;
      flex-direction: column;
      align-items: end;
      padding: 20px 40px 20px 20px;
      transition: all 0.3s;
      font-size: 30px;
      opacity: 1;
}
  }
  // .menu-header__item
  &__item {
    line-height: 1.5; /* 24px/16 */
    text-transform: capitalize;
  }
  // .menu-header__link
  &__link {
    transition: all 0.3s;
  @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
        color: rgba(255, 111, 97, 1);
      }
    }
  }
}
.menu-icon{
  display: none;
}
.menu-icon{
  @media(max-width: 991.98px){
    display: block;
    position: relative;
    height: 18px;
    width: 30px;
    flex-shrink: 0;
    z-index: 50;
    &::after,
    &::before,
    & span{
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: #000;   
    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
    &span{
      top: 50%;
      transform: translate(0px, -50%);
    }
  }
}
@media (max-width: 991.98px) {
  .menu-open {
    z-index: 50;
    .menu-header__list {
      right: 0;
    }
    .menu-icon {
      &::before {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
      }
      &::after {
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
      }
      span {
        transform: scale(0);
      }
    }
  }
}
// ================Signboard============================================
.page{
  padding-top: 144px;
  @media (max-width: 990px){
    padding-top: 132px;
  }
}
.signboard {
  background: url(../img/signboard/leaves1.svg) 0 0 no-repeat;
  background-position: 100% 88%;
  position: relative;
  background-color: rgba(30, 40, 50, 0.05);
  padding-top: 81px;
  &::before{
    content: "";
    background: url(../img/signboard/leaves2.svg) 0 0 no-repeat;
    aspect-ratio: 132/66;
    position: absolute;
    width: 150px;
    height: 85px;
    top: 66%;
    left: 17%;
  }
  @media (max-width: 749.98px){
    padding-top: 40px;
   }
   @media (max-width: 424.98px){
    padding-top: 20px;
   }
   @media (max-width: 366.98px){
    padding-top: 0px;
   }
  // .signboard__block
  &__block {
    display: flex;
    column-gap: 95px;
    row-gap: 30px;
    padding-bottom: 60px;
    @media (max-width: 1200px){
      column-gap: 30px;
    }
  }
  // .signboard__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex: 0 1 682px;
    @media (max-width: 950px){
      gap: 20px;
    }
  }
  // .signboard__title
  &__title {
    font-size: 74px;
    font-weight: 300;
    line-height: 0.74; /* 55px/74 */
    text-transform: capitalize;
    @media (max-width: 950px){
      font-size: 55px;
    }
    @media (max-width: 950px){
      font-size: 45px;
    }
  }

  // .signboard__subtitle
  &__subtitle {
    font-size: 30px;
    line-height: 1.83; /* 55px/30 */
    text-transform: capitalize;
    @media (max-width: 950px){
      font-size: 25px;
    }
    @media(max-width: 425px){
      font-size: 20px;
    }
    @media(max-width: 320px){
      font-size: 17px;
    }
  }

  // .signboard__btn
  &__btn {
    @extend %button;
    padding: 19px 26px;
  @media (any-hover: hover){
      &:hover{
        background-color: #fff;
        color: #1E2832;
        border: 1px solid #1E2832;
      }
    }
  }

  // .signboard__image
  &__card {
    border: 1px solid rgba(180, 173, 173, 0.632);
    border-radius: 160px 0;
    flex: 0 1 424px;
    @media (max-width: 749.98px){
      display: none;
     }
  }
  // .signboard__img
  &__img{
      border-radius: 160px 0 160px 0;
      padding-right: 17px;
      margin-top: -17px;
      margin-left: -20px;
      height: 100%;
      width: 100%;
      aspect-ratio: 424 / 542;
      object-fit: cover;
      @media (max-width: 689.98px){
       padding-right: 0;
      }
    }
}
.signboard--margin {
  margin-bottom: 90px;
  @media(max-width: 800px){
    margin-bottom: 50px;
  }
  @media(max-width: 477px){
    margin-bottom: 30px;
  }
  @media(max-width: 320px){
    margin-bottom: 17px;
  }
}
// ================Brands============================================
.brands {
  // .brands__container
  &__items {
    column-gap: 30px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    @media(max-width: 450px){
      grid-auto-rows: repeat(2, 1fr);   
    }
  }
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media(max-width: 850px){
      width: 150px;
    }
  }
}
.brands--margin{
  margin-bottom: 90px;
  @media(max-width: 600px){
    margin-bottom: 45px;
  }
}

// ===============Popular-stales======================================
.popular-stales {

  // .popular-stales__container
  &__container {
    position: relative;
  }

  // .popular-stales__title
  &__title{
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    
    @media(min-width: 1300px){
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      position: absolute;
      top: 39px;
      left: -21px;
      padding-top: 25px;
    }
    @media(max-width: 600px){
      font-size: 27px;
    }
    @media(max-width: 400px){
      font-size: 24px;
    }
  }
  &__title--margin{
    margin-bottom: 20px;
  }
  // .popular-stales__item
  &__items{
    display: grid;
    gap: 24px;
    grid-template: repeat(2, 1fr) / repeat(auto-fill, minmax(250px, 1fr));
  }

  // .popular-stales__link
  &__link {
    @media(min-width: 550px){
      &:nth-child(10n + 1),
      &:nth-child(10n + 8){
        grid-column: span 2;
        grid-row: span 2;
      }
    }
  }

  // .popular-stales__image
  &__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 312 / 312;
    object-fit: cover;
   
  }
}
.popular-stales--margin{
  margin-bottom: 140px;
  @media(max-width: 980px){
    margin-bottom: 70px;
  }
  @media(max-width: 700px){
    margin-bottom: 45px;
  }
}
// =================Shop-products========================================
.shop-products,
.bestsellers {
  // .shop-products__title
  &__title {
    @extend %font-size;
    margin-bottom: 35px;
    @media(max-width: 980px){
      font-size: 45px;
    }
    @media(max-width: 700px){
      font-size: 40px;
    }
    @media(max-width: 600px){
      font-size: 45px;
    }
    @media(max-width: 400px){
      font-size: 30px;
    }
  }

  // .shop-products__menu
  &__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 12px;
    &--margin{
      margin-bottom: 35px;
    }
  }

  // .shop-products__list
  &__list {
    display: flex;
    gap: 40px;
    @media(max-width: 600px){
      flex-wrap: wrap;
      column-gap: 15px;
      row-gap: 10px;
    }
    @media(max-width: 600px){
      column-gap: 10px;
    }
  }
  // .shop-products__link
  @media (any-hover: hover){
    &__link:hover{
      color: rgba(255, 111, 97, 1);
    }
  }
  
  // .shop-products__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.37; /* 22/16 */
    text-transform: capitalize;
    position: relative;
  }

  // shop-products__link-img
  &__link-img{
    transition: transform 0.3s;
  }
  @media (any-hover: hover){
    &__link-img:hover {
      transform: scale(1.05);
    }
  }
  
  // .shop-products__items
  &__items {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  // .shop-products__image
  &__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 312 / 400;
    object-fit: cover; 
  }
  // .shop-products__text
    &__text{
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0 5px;
      flex-grow: 1;
    }

  // .shop-products__name
  &__name {
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    transition: all 0.3s;
    @media (any-hover: hover){
      &:hover{
        color: rgba(255, 111, 97, 1);
      }
  }  
  }
  // .shop-products__card
  &__card {
    display: flex;
    justify-content: space-between;
  }

  // .shop-products__product
  &__product {
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.50);
  }
  
  // .shop-products__price
  &__price {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    
    &--red{
      font-size: 16px;
      color: red;
    }
    &--strikethrough{
      text-decoration: line-through;
      color: rgba(0, 0, 0, 0.50);
      margin-right: 12px;
    }
  }
  // ._icon-filtres
  &_icon-filtres {
  }

  // .shop-products__filter
  &__filter {
    @extend %button;
    padding: 5px 15px;
    font-size: 16px;
    transition: all 0.3s;
    border: 1px solid #1E2832;
    @media (any-hover: hover){
      &:hover{
        color: #1E2832;
        background-color: #fff;
        border: 1px solid #1E2832;
      }
    }
  }
  &__labels{
    position: absolute;
    top: 22px;
    left: 0;
    z-index: 1;
  }
  // .shop-products__label

  &__label{
    @extend %button-small;
    &--hot{
      @extend %button-small;
      background-color: rgba(255, 111, 97, 1);
    }
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
}
.shop-products--margin {
  margin-bottom: 140px;
  @media(max-width: 650px){
    margin-bottom: 70px;
  }
}
// ===================Zara-collection=============================================
.zara-collection {
  background: url("../img/zara/andrey-zvyagintsev-EQj1ZMpq_VM-unsplash\ 1.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  @media(max-width: 700px){
    display: none;
  }

  // .zara-collection__signboard
  &__signboard{
    display: flex;
    justify-content: end;
    position: relative;
    &::after{
      content: "";
      background: url("../img/zara/zara-logo-bac.svg") 0 0 no-repeat;
      width: 732px;
      height: 309px;
      position: absolute;
      top: 65px;
      right: -33%;
    }
  }
// .zara-collection__image
  &__image{
    img{
      width: 630px;
      height: 674px;
    } 
  }
  // .zara-collection__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 55px;
    align-items: flex-start;
    flex: 0 1 537px;
    padding: 244px 0 140px 64px;
  }

  // .zara-collection__text
  &__text {
    font-size: 26px;
    line-height: 1.53; /* 40px/26 */
    text-transform: capitalize;
    color: #fff;
  }

  // .zara-collection__btn
  &__btn {
    @extend %button;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(30, 40, 50, 1);
    padding: 19px 26px;
    cursor: pointer;
    @media (any-hover: hover){
      &:hover{
        background-color: #1E2832;
        color: #fff;
      }
    }
  }
}
.zara-collection--margin {
  margin-bottom: 140px;
  @media(max-width: 700px){
    margin-bottom: 45px;
  }
}
// ======================Bestsellers=========================================
// .bestsellers--margin
.bestsellers--margin{
  margin-bottom: 140px;
  @media(max-width: 1250px){
    margin-bottom: 80px;
  }
}
//=========================Follow========================================
.follow {
  background-color: rgba(30, 40, 50, 0.05);
  padding: 100px 0;
  @media(max-width: 1250px){
    padding-top: 60px;
  }
  
  // .follow__title
  &__title {
    @extend %font-size;
    @media(max-width: 980px){
      font-size: 45px;
    }
    @media(max-width: 700px){
      font-size: 35px;
    }
    @media(max-width: 500px){
      font-size: 30px;
    }
    @media(max-width: 362px){
      font-size: 28px;
    }
    @media(max-width: 320px){
      font-size: 25px;
    }
  }

  // .follow__title--margin
  &__title--margin {
    margin-bottom: 60px;
    @media(max-width: 320px){
      margin-bottom: 37px;
    }
  }

  // .follow__img-block
  &__img-block {
    display: flex;
    gap: 24px;
    // flex-wrap: wrap;
  }

  // .follow__img-block--margin
  &__img-block--margin{
    margin-bottom: 70px;
    @media(max-width: 320px){
      margin-bottom: 30px;
    }
  }
  &__link{
    flex: 0 1 200px;
  }
  // .follow__image
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: all 0.3s;
  }
  @media (any-hover: hover){
    &__image:hover {
      transform: scale(1.05);
    }
  }
  // .follow__subtitle
  &__subtitle {
    @extend %font-size;
    @media(max-width: 980px){
      font-size: 45px;
    }
    @media(max-width: 700px){
      font-size: 40px;
    }
    @media(max-width: 500px){
      font-size: 30px;
    }
    @media(max-width: 450px){
      font-size: 20px;
    }
  }

  // follow__subtitle--margin
  &__subtitle--margin {
    margin-bottom: 74px;
  }

  // .follow__form
  &__form {
    display: flex;
    gap: 26px;
  }
}
.follow--margin {
  margin-bottom: 100px;
  @media(max-width: 600px){
    margin-bottom: 50px;
  }
}
.form-follow {
  max-width: 643px;
  margin: 0 auto;

  // .form-follow__input
  &__input {
    border-bottom: 1px solid #1E2832;
    padding-left: 15px;
    padding-bottom: 13px;
  }

  // .form-follow__btn
  &__btn {
    padding: 0 10px 16px 10px;
    text-transform: capitalize;
    line-height: 1.37; /* 22/16 */
    border-bottom: 1px solid #1E2832;
    @media (any-hover: hover){
      &:hover{
        color: #47535f;
      }
    }
  }
}
// ======================Footer=======================================
.footer {
  // .footer__container
  &__container {
    &--margin{
      margin-bottom: 90px;
    }
  }

  // .footer__block
  &__block{
    display: flex;
    gap: 56px;
    @media(max-width: 600px){
      display: inline-block;
    }
  }

  // .footer__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 392px;
    gap: 32px;
    &--margin{
      @media(max-width: 600px){
        margin-bottom: 20px;
      }
    }
    
  }
  
  // .footer__logo
  &__logo {
    width: 180px;
  }

  // .footer__text
  &__text {
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    line-height: 1.75; /* 28/16 */
  }

  // .footer__social
  &__social {
    display: flex;
    gap: 36px;
  }

  // .footer__menu
  &__menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 864px;
    gap: 30px;
  }

  // .footer__bottom
  &__bottom {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
  }
}
.social{
  &__link::before{
    font-size: 25px;
    transition: transform 0.3s;
 }
 @media (any-hover: hover){
  :hover{
   transform: scale(1.05);
 }
  }
}
.bottom-footer{
  &__content{
    max-width: 1303px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 10px 20px;
    @media(max-width: 650px){
      font-size: 10px;
    }
  } 
}
.menu-footer {

  // .menu-footer__item
  &__item {
    flex: 1 1 200px;
  }

  // .menu-footer__title
  &__title {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1.37; /* 22/16 */
    text-transform: capitalize;
    cursor: pointer;
    &--margin{
      margin-bottom: 22px;
    }
    @media (any-hover: hover){
      &:hover{
        color: rgba(255, 111, 97, 1);
      }
    }
  }
  // .menu-footer__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  // .menu-footer__element
  &__element {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.71; /* 24px/14 */
    text-transform: capitalize;
  }
}
.bottom-footer{
  // .bottom-footer__link
  &__link{
    display: flex;
    gap: 4px;
    text-transform: capitalize;
    flex-basis: 120px;
  }
  &__img{
    width: 283px;
    height: 24px;
    @media(max-width: 600px){
      width: 200px;
    }
    @media(max-width: 500px){
      width: 150px;
    }
    @media(max-width: 440px){
      display: none;
    }
  }
  &__arrow{
    width: 20px;
    height: 20px;
  }
}
