@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);

@import url("fonts.css");

@import url("reset.css");
body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.wrapper{
  min-height: 100%;
  overflow: clip;
  display: flex;
	flex-direction: column;
  background-color: #F8F8F8;
}
.wrapper > main{
  flex-grow: 1;
}
[class*="__container"]{
	max-width: 1310px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.header{
  background-color: #F8F8F8;
  margin-bottom: 25px;
}
.link-top{
  color: #FFBC57;
  font-size: 19px;
  font-weight: 600;
  line-height: 126%; /* 24px/19 */
}
.header__container{
  /* padding: 0 15px 0 15px; */
}
.menu-header-middle,
.menu-header-bottom{
  padding: 0 15px 0 15px;
}
.title{
  color: #2B2929;
  font-family: "Proxima Nova", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 48px/40 */
}
/* ---Menu-header-top--- */
.menu-header-top {
  margin-bottom: 15px;
}
.menu-header-top2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
  padding: 15px;
}
.list__item {
}
.list__link:hover {
  color: #f0ac7c;
  text-decoration: underline;
}
.list__link:active{
  color: #442a2a;
}
.list:visited{
  color: #f0c27c;
}
.header__social {
}
.social-header {
  display: flex;
  align-items: center;
}

.social-header__list {
  display: flex;
  gap: 10px;
  padding-right: 30px;
}
.social-header__link{
  transition: transform 0.3s;
}
.social-header__link:hover{
  transform: scale(1.07);
}
.social-header__text{
  margin-right: 20px;
}
.social-language{
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}
.social-language:hover{
  color: #000;
  transform: scale(1.07);
}
/* ---Header2-- */
.header2{
  padding-top: 25px;
  padding-bottom: 25px;
}
.menu-header2-middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-bottom: 25px;
}
.button{
  background-color: #FFBC57;
  border-radius: 8px;
  padding: 11px 20px;
  max-width: 100%;
  font-size: 14px;
  color: white;
  margin-right: 30px;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}
.button::before{
  content: "";
  background-image: url(../img/header/menu.svg);
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}
.button:hover::before{
  content: "";
  background: url(../img/header/close-catalog.svg) 0 0 no-repeat;
}
.search-form {
  width: 80%;
  position: relative;
  height: 50px;
}
.search-form__input{
  max-width: 420px;
  display: flex;
  border-radius: 8px;
  border: 1px solid #B1B1B1;
  background: #FFF;
  height: 50px;
  padding-right: 50px;
  padding-left: 10px;
}
.search-form__image{
  position: absolute;
  top: 11px;
  right: 22px;
  transition: transform 0.3s;
}
.search-form__image:hover{
  transform: scale(1.08);
}
.connection-header2__image{
  transition: transform 0.6s;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.connection-header2__image--tel:hover{
  transform: translate(5px, 5px) scale(1.08) rotate(250deg);
}
.connection-header2__image:hover{
  background-color: #f0ac7c;
}
.header2{
  background-color: #FFF;
}
.header2__logo {
  display: flex;
}
.logo{
  padding-right: 26px;
}
.header2__button {
  display: flex;
  width: 49.3%;
}

.connection-header2 {
  width: 32.3%;
  display: flex;
  gap: 14px;
  justify-content: space-between;
}
.connection-header2__text {
  position: relative;
  padding-right: 24px;
}
.connection-header2__link2 {
  position: absolute;
  top: 11px;
  right: -4px;
}

.connection-header2__link{
  font-weight: 600;
  font-size: 20px;
  line-height: 140%; /* 28/20 */
  transition: transform 0.3s;
}
.connection-header2__link:hover{
  transform: scale(1.05);
  color: #f0ac7c;
}
.connection-header2__time{
  font-weight: 300;
  font-size: 13px;
  line-height: 170%; /* 22/13 */
}
/* ---Menu-header-bottom--- */

.menu-header2-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.items-offer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 5px;
}
.items-offer__image{
  
}
.list-header2 {
  width: 50%;
}
.items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  justify-content: right;
}
.items-offer__link{
  position: relative;
  padding: 0 0 0 33px;
  line-height: 24px;
}
.items-offer__link:hover{
  color: #f0ac7c;
  text-decoration: underline;
}
.items-list__link a:hover{
  color: #f0ac7c;
  text-decoration: underline;
}
.items-offer__image{
  position: absolute;
  left: 0;
  top: 44%;
  width: 24px;
  height: 24px;
  transform: translate(0px, -50%);
}
/* ---Popular-categories--- */
.page{
  background-color: #F8F8F8;
  padding-top: 70px;
}
.popular-categories__title{
  padding-bottom: 40px;
}
.popular-categories{
  margin-bottom: 70px;
}
.popular-categories-box{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.popular-categories__cards {
  position: relative;
}
.product-cards {
  flex-basis: 250px;
  transition: all 3s;
}
.product-cards:hover{
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.product-cards__title {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 60%;
  line-height: 140%;
}
.product-cards__image{
  border-radius: 8px;
  background: #FFF;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  max-width: 250px;
}
.product-cards__icon {
  width: 50px;
  height: 50px;
}
.product-cards__number{
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 40%;
}
.product-cards__link{
  position: absolute;
  bottom: 11px;
  right: 21px;
  transition: all 0.4s;
}
.product-cards__link:hover{
  transform: scale(1.08);
}
/* ---Top-products--- */
.top-products{
  margin-bottom: 86px;
}
.top-products__header{
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 40px;
}
.top-products-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.top-products__link {
  
}
.top-products__link:hover{
  color: #f0ac7c;
}
.products {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color:#FFF;
  border-radius: 8px;
  border: 1px solid #E3E2E2;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}
.products__image {
  width: 100%;
  border-radius: 8px;
  transition: all 4s;
}
.products__image:hover{
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.text-products__size {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 169%; /* 22px/13 */
}
.text-products{
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-grow: 1;
}
.text-products__title {
  color: #2B2929;
  font-size: 19px;
  font-weight: 600;
  line-height: 126%; /* 24/19 */
  flex-grow: 1;
}
.icon-image{
  display: flex;
}
.text-products__image-icon {
  width: 24px;
  height: 24px;
}
.text-products__state {
  color: #2B2929;
  font-size: 13px;
  font-weight: 300;
  line-height: 169%; /* 22/13 */
  padding-left: 5px;
}
.products-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.products-price__sale {
  color: #E03D3D;
  font-size: 15px;
  font-weight: 400;
  line-height: 146%; /* 22/15 */
  text-decoration-line: line-through;
}
.products-price__price {
  color: #2B2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%; /* 28/20 */
}
.products-price__blockicons{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.products-price__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.products-price__link--obrane{
  transition: transform 0.3s;
}
.products-price__link--obrane:hover{
  transform: scale(1.08);
}
.products-price__link--basket{
  transition: transform 0.3s;
}
.products-price__link--basket:hover{
  transform: scale(1.07);
}
.products-price__blockprice:nth-child(2){
  display: none;
}
/* ---Stocks--- */
.stocks{
  padding-bottom: 70px;
}
.stocks__body{
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.stocks__header{
  display: flex;
  align-items: center;
  gap: 30px;
}
.stocks__image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.stocks__link:hover{
  color: #f0ac7c;
}
.stocks__arrow{
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s;
}
.stocks__arrow--left:hover{
  transform: scale(1.08);
}
.stocks__arrow--right:hover{
  transform: scale(1.08);
}
.stocks-box {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.stocks-box__item {
  flex-basis: 410px;
  border-radius: 8px;
  overflow: hidden;
}
.stocks-box__link{
  transition: all 0.3s;
}
.stocks-box__link:hover{
  transform: scale(1.05);
}
.stocks-box__image{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* Footer */
.footer p{
  padding: 20px 0;
  font-family: "Proxima Nova";
  font-weight: 300;
  text-align: center;
}