@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url("fonts.css");

@import url("reset.css");
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2b2929;
}
h1 {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: blue;
  text-shadow: 7px 7px 8px rgba(79, 79, 90, 0.903);
}
.block-title,
.block-3-title {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-family: "Roboto Serif", sans-serif;
  color: darkorange;
  text-decoration: underline;
}
h3 {
  color: rgba(31, 28, 28, 0.467);
  text-transform: capitalize;
  letter-spacing: 1px;
}
.block-text,
.block-2, 
.block-3-text{
    line-height: 187.5%; /* 30/16 */
}
.block-text span {
  color: rgba(245, 110, 62, 0.885);
  font-weight: 700;
  font-size: 18px;
}
.block-2 h4 {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  color: darkorange;
  line-height: 111.428571%; /* 39/35 */
  word-spacing: 2px;
}
.block-2 span {
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 255, 0.692);
}
.block-2 p {
    font-family: "Proxima Nova";
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #2b2929;
}
.block-3-text p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.block-3-text span{
    text-decoration: underline;
    text-decoration-color: darkorange;
}
.block-3-img h4{
    font-size: 26px;
    color: rgba(39, 35, 35, 0.897);
    font-weight: 700;
}
.block-3-img span{
    color: red;
    text-decoration: line-through;
    text-decoration-color: black;
}
.block-3-img h5{
    font-size: 27px;
    color: rgba(10, 9, 9, 0.689);
    text-decoration: line-through;
    text-decoration-color: darkorange;
    text-decoration-style: wavy;
}
.footer{
    font-family: "Proxima Nova";
    font-weight: 300;
    text-align: center;
}

