@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);

@import url("fonts.css");

@import url("reset.css");
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2b2929;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}
.wrapper{
  min-height: 100%;
  overflow: clip;
  background-color: gray;
}
.header{
  padding-top: 20px;
  margin-bottom: 60px;
}
.header__container{
  max-width: 1200px;
  margin: 0 auto;
}
.button{
  background-color: #FFBC57;
  border-radius: 8px;
  padding: 11px 20px;
  max-width: 100%;
  font-size: 14px;
  color: white;
}
.button::before{
  content: "";
  background-image: url(../img/menu.svg);
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}
.button:hover::before{
  content: "";
  background-image: url(../img/close-catalog.svg);
}
.menu-list{
  border-right: 5px solid orange;
  position: relative;
  display: none;
  z-index: 50;
  min-width: 160px;
  max-width: 255px;
}
.menu-link{
  position: relative;
  width: 100%;
  /* padding: 10px 90px 10px 30px; */
  padding: 10px;
}
.menu-link img{
  vertical-align: middle;
}
.menu-link::after{
  content: "";
  background-image: url(../img/arrow.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 17px;
  right: 9px;
}
.menu-item{
  background-color: beige;
}
.menu-item span{
  padding-left: 15px;
}
.menu-item:hover{
  background-color: #FFBC57;
}
.menu-item span:hover{
  text-decoration: underline;
}
.menu-item:active{
  background-color: beige;
}
.sub-menu{
  position: absolute;
  background-color: beige;
  z-index: 2;
  top: 0;
  left: 101%;
  width: 100%;
  display: none;
  height: 100%;
  border-left: 2px solid orange;
}
.sub-menu__list{
  padding: 10px 20px 10px 20px;
  height: 100%;
  overflow-y: auto;
}
.menu-item:hover .sub-menu{
  display: block;
}
.sub-menu__item span{
  padding-left: 0;
}
.sub-menu__item:not(:last-child){
  margin-bottom: 20px;
}
.menu-header:hover .menu-list{
  display: block;
}
.menu-header{
  position: relative;
  display: inline-block;
}
/* ---------------- */

.popular-categories__container {
  max-width: 1200px;
  margin: 0 auto;
}
.popular-categories__cards {
  position: relative;
  display: inline-block;
}
.product-cards {
  max-width: 25%;
  
}
.text-card-image{
  border-radius: 8px;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.product-cards:not(:last-child){
  margin-right: 50px;
}
.product-cards a{
  position: absolute;
  bottom: 23px;
  right: 21px;
}
.text-card-icon{
  width: 50px;
  height: 50px;
}

.text-card h3{
  position: absolute;
  top: 56px;
  left: 29px;
  max-width: 55%;
}
.text-card p{
  position: absolute;
  top: 56px;
  right: 40px;
}
/* Footer */
.footer p{
  padding: 20px 0;
  font-family: "Proxima Nova";
  font-weight: 300;
  text-align: center;
}